# python-binance 라이브러리 사용을 위한 모듈 설치
autobahn
certifi
cryptography
ccxt
dateparser
ujson
python-binance==0.7.10

numpy
pandas
psycopg2-binary
pyarrow
pyOpenSSL
redis
requests
service-identity
scikit-learn
statsmodels
Twisted
xlsxwriter
